<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Header</title>
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/recipes">Recipes Book</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active"  routerLink="/shopping">Shopping List</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLinkActive="active" href="#" routerLink="/recipes">Recipes</a>
          </li>
          <li class="nav-item dropdown" appDropdown >
            <button class="nav-link dropdown-toggle" style="cursor: pointer" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Manage
            </button>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" style="cursor: pointer">Fetch Data</a></li>
              <li><a class="dropdown-item" style="cursor: pointer">Save Date</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
</body>
</html>
