<div class="row">
  <div *ngIf="editMode; else createRecipe" class="col-sm-6 text-center mx-auto">
    <h2>Edit Recipe</h2>
    <h4>{{originalRecipe.name}}</h4>
  </div>
  <ng-template #createRecipe>
    <h2>Create a Recipe</h2>
  </ng-template>
</div>
<form (ngSubmit)="onSave()" [formGroup]="editRecipeForm">

  <div class="row">

    <div class="col-sm-4 d-flex justify-content-sm-around mx-auto my-2">
      <button class="btn btn-light" type="submit">Save</button>
      <button class="btn btn-light" type="button" (click)="onCancel()">Cancel</button>
      <button class="btn btn-light" type="button" (click)="onBack()">Back</button>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mx-2">
      <div>
        <label for="recipe_name" class="form-label"> Recipe Id : </label>
        <input class="readonly form-control" readonly type="text" id="recipe_id" formControlName="recipeId">
      </div>
      <div>
        <label for="recipe_name" class="form-label"> Recipe Name : </label>
        <input type="text" id="recipe_name" class="form-control" formControlName="recipeName">
      </div>
      <div>
        <label for="recipe_description" class="form-label"> Recipe Description : </label>
        <textarea id="recipe_description" class="form-control" formControlName="recipeDescription"></textarea>
      </div>
      <div>
        <label for="recipe_image" class="form-label"> Recipe Image : </label>
        <textarea id="recipe_image" class="form-control" formControlName="recipeImage"></textarea>
      </div>
      <div formGroupName="ingredients">
        <label class="form-label"> Ingredients : </label>
        <div>
          <div *ngFor="let form of getIngredientControls();let i = index" [formGroupName]="i">
            <div class="d-flex flex-inline" >
              <input type="text" id="ing_name_updated" class="form-control" formControlName="ingredientName">
              <input type="number" id="ing-Amount_updated" formControlName="ingredientAmount" class="form-control">
              <button class="btn btn-light delete" (click)="onDeleteIngredient(i)">X</button>
            </div>
          </div>
          <button class="btn btn-light" (click)="onAddIngredient();">Add Ingredient</button>
       </div>
      </div>

    </div>

  </div>

</form>
