<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-4 form-group">
          <label for="name">Ingredient's name : </label>
          <input type="text" id="name" class="form-control" #ingredientName>
        </div>
        <div class="col-sm-1 form-group">
          <label for="amount">Amount : </label>
          <input type="number" id="amount" min="1" class="form-control" #ingredientAmount>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success mx-1" type="submit" (click)="emitNewIngredient()">Add</button>
          <button class="btn btn-danger mx-1" type="button">Delete</button>
          <button class="btn btn-primary mx-1" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
