<div class="row">
  <h3 class="recipe_title col-12">{{recipe.name}}</h3>
  <img [src]="recipe.imagePath" [alt]="recipe.name" class="recipe_img">
</div>
<div class="row">
  <div class="dropdown" appDropdown>
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Manage Recipe
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><button class="dropdown-item btn" href="#">To Shopping List</button></li>
      <li><button class="dropdown-item btn" href="#" [attr.recipe_id]="recipe.id">Edit Recipe</button></li>
      <li><button class="dropdown-item btn" href="#" [attr.recipe_id]="recipe.id">Delete Recipe</button></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-12">
    {{recipe.description}}
  </div>
</div>

<div class="row">
  <div class="col-12">
    Ingredients
  </div>
</div>
